.weather {
    text-align: center;
    color: #444;
}

.weather__temperature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather__temperature p {
    margin: 0;
}

.weather__state {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.text-bold {
    font-weight: bold;
}

.container-search {
    display: flex;
    justify-content: space-around;
}
